<% provide(:title, "Statistics") %>
<!DOCTYPE html>
<html>
    <head>
        <!-- Place your kit's code here -->
        <script src="https://kit.fontawesome.com/f85f1b6612.js"></script>
    </head>
    <body>
        <h1 style="color: black;"> Total Video Statistics <h1>
        <h2>
            This page shows your total culmination of all your video statistics over time! (Whether 1 video or more!)
            <br>
            This culminates all Wistia data. Other data can be integrated upon client request.
        <h2>

        <%-# Icon Legend -%>
        <%-# Wistia Statistics -%>
        <div class="box shadow" style="color: black; border: 1px solid black;">
            <p style="font-size: 1.5em; color: black;"><b>Wistia Statistics <b><p>
            <div class="row">
                <div class="horizontal-align col-xs-3">
                    <i class="far fa-play-circle fa-5x" style="padding-bottom: 10px;"></i>
                    <br>
                    <p>Times Played</p>
                    <%= "&nbsp;#{@statistics["play_count"]}".html_safe %> plays
                </div>
                <div class="horizontal-align col-xs-3">
                    <i class="far fa-clock fa-5x" style="padding-bottom: 10px;"></i>
                    <br>
                    <p>Total Hours Watched</p>
                    <% formatted = '%.2f' % @statistics["hours_watched"] %>
                    <%= "&nbsp;#{formatted}".html_safe %> hours
                </div>
                <div class="horizontal-align col-xs-3">
                    <i class="fas fa-video fa-5x" style="padding-bottom: 10px;"></i>
                    <br>
                    <p>Total Number of Videos</p>
                    <%= "&nbsp;#{@statistics["number_of_videos"]}".html_safe %> videos
                </div>
                <div class="horizontal-align col-xs-3" style="padding-bottom: 10px;">
                    <i class="fas fa-city fa-5x" style="padding-bottom: 10px;"></i>
                    <br>
                    <p>Top 3 Cities of Viewers</p>
                    1. <%= @topThree[0] %>
                    <br>
                    2. <%= @topThree[1] %>
                    <br>
                    3. <%= @topThree[2] %>
                </div>
            </div>
        </div>
        <br>
        <br>

        <%-# Google Map with Views Locations -%>
    </body>
</html>