<% provide(:title, "Statistics") %>
<!DOCTYPE html>
<html>
<body>
    <h1> Total Video Statistics <h1>
    <h2>
        This page shows your total culmination of all your video statistics over time! (Whether 1 video or more!)
        <br>
        This culminates all Facebook and Wistia data. Other data can be integrated upon client request.
    <h2>

    <%-# Wistia Statistics -%>
    <h1> Wistia Statistics <h1>
    <h2>
    <div class="stacky">
        <div class="box green smallbox">
            <p class="alignleft">Times Loaded: </p>
            <p>fuck</p>
            <br>
            <p class="alignright">123<%= @statistics["load_count"] %> loads</p>
        </div>
        <div class="box blue smallbox">
            <p class="alignleft">Number of Views:</p>
            <p class="alignright"><%= @statistics["play_count"] %> views</p>
        </div>
        <div class="box orange smallbox">
            <p class="alignleft">Total Hours Watched:</p>
            <p class="alignright"><%= '%.2f' % @statistics["hours_watched"] %> hours</p>
        </div>
        <div class="box purple">
            <p>Top 3 Cities of Viewers:</p>
            <p>1. <%= @topThree[0] %><p>
            <p>2. <%= @topThree[1] %><p>
            <p>3. <%= @topThree[2] %><p>
        </div>
    </div>
    <h2>
</body>
</html>