<% provide(:title, "Statistics") %>
<section>
    <h1> Total Video Statistics <h1>
    <div>
        <% @response.each do |key, val| %>
            <h3>
            <% if "#{key}" == "load_count" %>
                <%= "Times Loaded:" %>
            <% elsif "#{key}" == "play_count" %>
                <%= "Number of Plays:" %>
            <% elsif "#{key}" == "hours_watched" %>
                <%= "Total Hours Watched:" %>
            <% elsif "#{key}" == "number_of_videos" %>
                <%= "Number of Videos:" %>
            <% end %>
            <br>
            <%= "#{val}" %>
            <h3>
        <% end %>
    </div>
</section>