<% provide(:title, "Statistics") %>
<section>
    <h1> Total Video Statistics <h1>
    <h2>
        This page shows your total culmination of all your video statistics over time! (Whether 1 video or more!)
        <br>
        This culminates all Facebook and Wistia data. Other data can be integrated upon client request.
    <h2>

    <%-# Wistia Statistics -%>
    <h1> Wistia Statistics <h1>
    <% @response.each do |key, val| %>
        <h2>
        <% if "#{key}" == "load_count" %>
            <%= "Times Loaded:" %>
        <% elsif "#{key}" == "play_count" %>
            <%= "Number of Plays:" %>
        <% elsif "#{key}" == "hours_watched" %>
            <%= "Total Hours Watched:" %>
        <% elsif "#{key}" == "number_of_videos" %>
            <%= "Number of Videos:" %>
        <% else %>
            <%-# Do Nothing -%>
        <% end %>
        <br>
        <%-# Limits Decimal Places -%>
        <% if "#{val}" % 1 != 0 %>
            <%= '%.2f' % "#{val}" %>
        <% else %>
            <%= "#{val}" %>
        <% end %>
        <h2>
    <% end %>
    <h2><%= @events_response %><h2>

    <%-# Facebook Statistics -%>
    <h1> Facebook Statistics <h1>
    <div>
        COMING SOON!
    </div>
</section>