<% provide(:title, "Statistics") %>
<!DOCTYPE html>
<html>
<body>
    <h1 style="color: black;"> Total Video Statistics <h1>
    <h2>
        This page shows your total culmination of all your video statistics over time! (Whether 1 video or more!)
        <br>
        This culminates all Facebook and Wistia data. Other data can be integrated upon client request.
    <h2>

    <%-# Wistia Statistics -%>
    <p style="font-size: 1.5em; color: black;"><b>Wistia Statistics <b><p>
    <div class="stacky">
        <div class="box green smallbox">
            <p class="alignleft">Times Loaded: </p>
            <p class="alignright"><%= "&nbsp;#{@statistics["load_count"]}".html_safe %> loads</p>
        </div>
        <div class="box blue smallbox">
            <p class="alignleft">Number of Views:</p>
            <p class="alignright"><%= "&nbsp;#{@statistics["play_count"]}".html_safe %> views</p>
        </div>
        <div class="box orange smallbox">
            <p class="alignleft">Total Hours Watched:</p>
            <% formatted = '%.2f' % @statistics["hours_watched"] %>
            <p class="alignright"><%= "&nbsp;#{formatted}".html_safe %> hours</p>
        </div>
        <br>
        <div class="box purple">
            <p>Top 3 Cities of Viewers:</p>
            <p>1. <%= @topThree[0] %></p>
            <p>2. <%= @topThree[1] %></p>
            <p>3. <%= @topThree[2] %></p>
        </div>
    </div>
</body>
</html>