<% provide(:title, "Statistics") %>
<!DOCTYPE html>
<html>
    <head>
        <!-- Place your kit's code here -->
        <script src="https://kit.fontawesome.com/f85f1b6612.js"></script>
    </head>
    <body>
        <h1 style="color: black;"> Total Video Statistics <h1>
        <h2>
            This page shows your total culmination of all your video statistics over time! (Whether 1 video or more!)
            <br>
            This culminates all Wistia data. Other data can be integrated upon client request.
        <h2>

        <%-# Icon Legend -%>
        <div class="" style="color:black;">
            <div class="row">
                <div class="horizontal-align col-xs-2">
                    <i class="fas fa-spinner fa-5x" style="padding-bottom: 10px;"></i>
                    <br>
                    Times Loaded
                </div>
                <div class="horizontal-align col-xs-2">
                    <i class="far fa-play-circle fa-5x" style="padding-bottom: 10px;"></i>
                    <br>
                    Times Played
                </div>
                <div class="horizontal-align col-xs-2">
                    <i class="fas fa-sort-numeric-up-alt fa-5x" style="padding-bottom: 10px;"></i>
                    <br>
                    Total Number of Videos
                </div>
                <div class="horizontal-align col-xs-2">
                    <i class="far fa-clock fa-5x" style="padding-bottom: 10px;"></i>
                    <br>
                    Total Hours Watched
                </div>
                <div class="horizontal-align col-xs-2">
                    <i class="fas fa-city fa-5x" style="padding-bottom: 10px;"></i>
                    <br>
                    Top 3 Cities of Viewers
                </div>
            </div>
        </div>
        <br>
        <br>

        <%-# Wistia Statistics -%>
        <p style="font-size: 1.5em; color: black;"><b>Wistia Statistics <b><p>
        <div class="each_row_thing">
            <div>
                <div class="row">
                    <div class="horizontal-align col-xs-2">
                        <div class="box green smallbox shadow">
                            <i class="fas fa-spinner fa-3x" style="padding-bottom: 10px;"></i>
                            <p><%= "&nbsp;#{@statistics["load_count"]}".html_safe %> loads</p>
                        </div>
                    </div>
                    <div class="horizontal-align col-xs-2">
                        <div class="box blue smallbox shadow">
                            <i class="far fa-play-circle fa-3x" style="padding-bottom: 10px;"></i>
                            <p><%= "&nbsp;#{@statistics["play_count"]}".html_safe %> views</p>
                        </div>
                    </div>
                    <div class="horizontal-align col-xs-2">
                        <div class="box red smallbox shadow">
                            <i class="fas fa-sort-numeric-up-alt fa-3x" style="padding-bottom: 10px;"></i>
                            <p><%= "&nbsp;#{@statistics["number_of_videos"]}".html_safe %> videos</p>
                        </div>
                    </div>
                    <div class="horizontal-align col-xs-2">
                        <div class="box orange smallbox shadow">
                            <i class="far fa-clock fa-3x" style="padding-bottom: 10px;"></i>
                            <% formatted = '%.2f' % @statistics["hours_watched"] %>
                            <p><%= "&nbsp;#{formatted}".html_safe %> hours</p>
                        </div>
                    </div>
                    <div class="horizontal-align col-xs-2">
                        <div class="box purple rectangularbox shadow">
                            <i class="fas fa-city fa-3x" style="padding-bottom: 10px;"></i>
                            <p>1. <%= @topThree[0] %></p>
                            <p>2. <%= @topThree[1] %></p>
                            <p>3. <%= @topThree[2] %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%-# Google Map with Views Locations -%>
    </body>
</html>