<% provide(:title, "Your Videos") %>
<!DOCTYPE html>
<html>
<body>
  <h1 style="color: black;"> Your Videos <h1>
  <h2>
      This page shows all of your videos. Underneath each video is its Wistia statistics.
  <h2>

  <%-# For Loop That Iterates Through Videos, Embeds Video & Prints Individual Statistics -%>
  <% @video_iframe_urls.zip(@video_names, @each_video_stats).each do |video_iframe_url, video_name, each_video_stats| %>
    <p style="font-size: 1.5em; color: black;"><b><%= video_name %><b><p>
    <iframe allow="fullscreen" class="videos" src="<%= video_iframe_url.to_s.html_safe %>"></iframe>
    <p style="color: black;">Statistics:<p>
    <div class="stacky">
        <div class="box grey smallbox">
            <p class="alignleft">Times Played: </p>
            <p class="alignright"><%= "&nbsp;#{each_video_stats["play_count"]}".html_safe %></p>
        </div>
        <div class="box grey smallbox">
            <p class="alignleft">Total Minutes Watched: </p>
            <p class="alignright"><%= "&nbsp;#{each_video_stats["hours_watched"]}".html_safe %></p>
        </div>
        <div class="box grey smallbox">
            <p class="alignleft">Number of Unique People Who Watched This Video:</p>
            <% formatted = each_video_stats["visitors"] %>
            <p class="alignright"><%= "&nbsp;#{each_video_stats["visitors"]}".html_safe %></p>
        </div>
        <div class="box grey smallbox">
            <p class="alignleft">Average Percentage of Video That Gets Viewed:</p>
            <% video_percent = '%.2f' % each_video_stats["engagement"] %>
            <div class="video-percent-div" >
                <%= react_component("VideoPercent", { percent: video_percent}) %>
            </div>
        </div>
    </div>
    <br>
    <br>
  <% end %>
</body>
</html>
