<% provide(:title, "Your Videos") %>
<!DOCTYPE html>
<html>
    <head>
        <!-- Place your kit's code here -->
        <script src="https://kit.fontawesome.com/f85f1b6612.js"></script>
    </head>
    <body>
    <h1 style="color: black;"> Your Videos <h1>
    <h2>
        All of your videos and their Wistia statistics are here.
        <br>
        On the left hand side is the video, followed by its statistics!
        Here's an icon guide to understand your statistics. Happy viewing!
    <h2>

    <%-# Icon Legend -%>
    <div style="color:black;">
        <div class="row">
            <div class="horizontal-align col-xs-2">
                <i class="far fa-play-circle fa-5x" style="padding-bottom: 10px;"></i>
                <br>
                Times Played
            </div>
            <div class="horizontal-align col-xs-3">
                <i class="far fa-clock fa-5x" style="padding-bottom: 10px;"></i>
                <br>
                Total Minutes Watched
            </div>
            <div class="horizontal-align col-xs-3">
                <i class="fas fa-users fa-5x" style="padding-bottom: 10px;"></i>
                <br>
                Number of Unique People Who Watched This Video
            </div>
            <div class="horizontal-align col-xs-4">
                <i class="fas fa-percent fa-5x" style="padding-bottom: 10px;"></i>
                <br>
                Average Percent of Video That Gets Viewed
            </div>
        </div>
    </div>
    <br>
    <br>

    <%-# For Loop That Iterates Through Videos, Embeds Video & Prints Individual Statistics -%>
    <div class="each_row_thing" style="padding-bottom: 15px;">
        <% @video_iframe_urls.zip(@video_names, @each_video_stats).each do |video_iframe_url, video_name, each_video_stats| %>
            <p style="font-size: 1.5em; color: black;"><b><%= video_name %><b><p>
            <div style="text-align: center; vertical-align: middle;">
                <div class="row">
                    <div style="float: left;" class="box grey shadow">
                        <iframe allow="fullscreen" src="<%= video_iframe_url.to_s.html_safe %>"></iframe>
                    </div>
                    <div class="horizontal-align col-xs-2">
                        <div class="box blue smallbox shadow vertical_align">
                            <i class="far fa-play-circle fa-3x"></i>
                            <p><%= "&nbsp;#{each_video_stats["play_count"]}".html_safe %> plays</p>
                        </div>
                    </div>
                    <div class="horizontal-align col-xs-2">
                        <div class="box orange smallbox shadow vertical_align">
                        <i class="far fa-clock fa-3x"></i>
                        <p><%= "&nbsp;#{each_video_stats["hours_watched"]}".html_safe %> minutes</p>
                        </div>
                    </div>
                    <div class="horizontal-align col-xs-2">
                        <div class="box green smallbox shadow vertical_align">
                            <i class="fas fa-users fa-3x"></i>
                            <% formatted = each_video_stats["visitors"] %>
                            <p><%= "&nbsp;#{each_video_stats["visitors"]}".html_safe %> people</p>
                        </div>
                    </div>
                    <div class="horizontal-align col-xs-2">
                        <div class="box red smallbox shadow vertical_align">
                            <i class="fas fa-percent fa-3x"></i>
                            <% video_percent = '%.2f' % each_video_stats["engagement"] %>
                            <p><%= "&nbsp;#{video_percent}".html_safe %></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        <% end %>
    </div>
    </body>
</html>