<% provide(:title, "Your Videos") %>
<!DOCTYPE html>
<html>
    <head>
        <!-- Place your kit's code here -->
        <script src="https://kit.fontawesome.com/f85f1b6612.js"></script>
    </head>
    <body>
    <br>
    <br>
    <h1 style="color: #F18A65;"> Your Videos Dashboard <h1>
    <h2 style="color: white;">
        All of your videos and their respective Wistia statistics are in this dashboard.
        <br>
        <br>
        Here's an icon guide to understand your statistics. Happy viewing!
    <h2>
    <br>
    <br>

    <%-# Icon Legend -%>
    <div class="container">
        <div class="row" style="border: none;">
            <div class="col-xs-2" id="p1">
                <span style="color: #F18A65;">
                <i class="far fa-play-circle fa-5x" style="padding-bottom: 10px;"></i>
                <br>
                <div style="color: white;">
                    Times Played
                </div>
                </span>
            </div>
            <div class="col-xs-2 col-half-offset" id="p2">
                <span style="color: #F18A65;">
                <i class="fas fa-percent fa-5x" style="padding-bottom: 10px;"></i>
                <br>
                <div style="color: white;">
                    Play Rate
                </div>
                </span>
            </div>
            <div class="col-xs-2 col-half-offset" id="p3">
                <span style="color: #F18A65;">
                <i class="far fa-clock fa-5x" style="padding-bottom: 10px;"></i>
                <br>
                <div style="color: white;">
                    Total Minutes Watched
                </div>
                </span>
            </div>
            <div class="col-xs-2 col-half-offset" id="p4">
                <span style="color: #F18A65;">
                <i class="fas fa-users fa-5x" style="padding-bottom: 10px;"></i>
                <br>
                <div style="color: white;">
                    Number of Unique People Who Loaded This Video
                </div>
                </span>
            </div>
            <div class="col-xs-2 col-half-offset" id="p5">
                <span style="color: #F18A65;">
                <i class="far fa-eye fa-5x"style="padding-bottom: 10px;"></i>
                <br>
                <div style="color: white;">
                    Average Percent of Video That Gets Viewed
                </div>
                </span>
            </div>
        </div>
    </div>
    <br>
    <br>

    <%-# For Loop That Iterates Through Videos, Embeds Video & Prints Individual Statistics -%>
    <% @video_iframe_urls.zip(@video_names, @each_video_stats).each do |video_iframe_url, video_name, each_video_stats| %>
        <div class="container">
            <div class="row" style="border: none; background-color: white; padding-bottom: 2%; padding-top: 2%;">
                <p style="font-size: 1.5em; color: #202b3d;"><b><%= video_name %><b><p>
                <iframe allow="fullscreen" src="<%= video_iframe_url.to_s.html_safe %>"></iframe>
                <br>
                <div class="col-xs-2" id="p1">
                    <span style="color: #F18A65;">
                        <i class="far fa-play-circle fa-5x"></i>
                        <br>
                        <br>
                    </span>
                    <div style="color: #202b3d;">
                        <%= "&nbsp;#{each_video_stats["play_count"]}".html_safe %> plays
                    </div>
                </div>
                <div class="col-xs-2 col-half-offset" id="p2">
                    <span style="color: #F18A65;">
                        <i class="fas fa-percent fa-5x"></i>
                        <br>
                        <br>
                    </span>
                    <% play_rate = '%.2f' % each_video_stats["play_rate"] %>
                    <div style="color: #202b3d;">
                        <%= "&nbsp;#{play_rate}".html_safe %>% play rate
                    </div>
                </div>
                <div class="col-xs-2 col-half-offset" id="p3">
                    <span style="color: #F18A65;">
                        <i class="far fa-clock fa-5x"></i>
                        <br>
                        <br>
                    </span>
                    <div style="color: #202b3d;">
                        <%= "&nbsp;#{each_video_stats["hours_watched"]}".html_safe %> minutes
                    </div>
                </div>
                <div class="col-xs-2 col-half-offset" id="p4">
                    <span style="color: #F18A65;">
                        <i class="fas fa-users fa-5x"></i>
                        <br>
                        <br>
                    </span>
                    <% formatted = each_video_stats["visitors"] %>
                    <div style="color: #202b3d;">
                        <%= "&nbsp;#{each_video_stats["visitors"]}".html_safe %> people
                    </div>
                </div>
                <div class="col-xs-2 col-half-offset" id="p5">
                    <span style="color: #F18A65;">
                        <i class="far fa-eye fa-5x"></i>
                        <br>
                        <br>
                    </span>
                    <% video_percent = '%.2f' % each_video_stats["engagement"] %>
                    <div style="color: #202b3d;">
                        <%= "&nbsp;#{video_percent}".html_safe %>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    <% end %>
    
    </body>
</html>