<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br>
        <%= @user.email %>
        <% if @errors  %>
          <p>THE FORM COULD NOT BE SAVED </p>
          <ul id='errors'>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
          </ul>
        <% end %>
        <br>
        <% if is_admin? %>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= form_for(@user) do |f| %>

                <%= f.label :wistia_project_id %>
                <%= f.text_field :wistia_project_id, class: 'form-control' %>
                
                <%= button_to "Save", :action => "set_wistia_project_ID", :method => :put, :form_class => "form-control" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </h1>
    </section>
  </aside>
</div>