<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #202b3d;">
  <div class="container">
    <%= link_to image_tag("logo_small.png"), "https://www.flowvideo.com", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right gotham-bold">
        <% if logged_in? %>
          <% if !is_admin? %>
            <li><%= link_to "YOUR VIDEOS",  videos_path %></li>
            <li><%= link_to "STATISTICS",   statistics_path %></li>
            <li><%= link_to "PROGRESS",     progress_path %></li>
          <% else is_admin? %> 
            <li><%= link_to "USERS", users_path %></li>
          <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                ACCOUNT <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>              <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header> 